<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<style>
    .overall{
        margin: 150px auto;
        text-align: center;
    }

    .img-position img{
        height: 400px;
    }
</style>

<body>
    <div class="overall">
        <div class="img-position">
            <img class="profile-image" src="/img/angrydoge.jpg">
        </div>
        <div>
            <p>Oh you came to the wrong neighborhood </p>
        </div>
        <div>
            <p>한 바탕 할래? </p>
        </div>
    </div>
</body>

</html>