<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--Welcome <span sec:authentication="principal.username"> User</span><br>-->
Welcome <span sec:authentication="principal.username"> User</span><br>

<div layout:fragment="content" class="container mySpace">
    <form th:action="@{/home/{id}}" th:object="${reply}" method="post">
        <div>
            <label for="content">Write your tweets here</label>
            <input id="content" type="text" th:field="*{content}" class="form-control" placeholder="Comment here"/>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>

</body>
</html>